{
  "extends": "airbnb/base",
  "rules": {
    "no-console": 0,
    "no-var": 0,
    "comma-dangle": [2, "never"],
    "guard-for-in": 0,
    "no-param-reassign": [0, {"props": false}],
    "vars-on-top": 0,
    "func-names": 0,
    "no-restricted-syntax": 0,
    "prefer-arrow-callback": 0,
    "prefer-template": 0,
    "global-require": 0,
    "import/no-extraneous-dependencies": 0
  },
  "overrides": [
    {
      "files": [
        "index.js",
        "type.js",
        "banks/*"
      ],
      "rules": {
        "import/no-extraneous-dependencies": 2
      }
    }
  ]
}
